<h1>Edit Your Information</h1>

<%= form_for @user do |f| %>
  Name:
  <%= f.text_field :name, placeholder: "Name", class: "form-field", style: "background-color: white" %>
  Email:
  <%= f.text_area :email, placeholder: "Email", class: "form-field" %>
  <%= f.submit "Edit" %>
<% end %>
