<h1>New Challenge</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :title, placeholder: "Title", class: "form-field" %>
  <%= f.text_area :body, placeholder: "Post body...", class: "form-field" %>
  <%= f.submit %>
<% end %>
