/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #f2f2f2;
   background: linear-gradient(315deg, rgba(155,77,202, .5), #f2f2f2);
 }

 .header, .footer {
   padding-right: 15px;
   padding-left: 15px;
 }

 .header {
   border-bottom: 1px solid rgb(155,77,202);
   background-color: transparent;
 }

 .navbar-default {
   background-color: transparent;
 }

 .footer {
   padding-top: 20px;
   border-top: 1px solid #e5e5e5;
 }

 .header h3 {
   margin-top: 0;
   margin-bottom: 0;
   line-height: 30px;
 }

 @media (min-width: 768px) {
   .container {
     max-width: 730px;
   }
 }

 .post {
   background: linear-gradient(135deg, white, #dbdbdb);
   margin: 15px;
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 5px 5px 5px;
   min-width: 200px;
 }

 .post p, h3 {
   text-align: center;
 }

 .form-field {
   background-color: white;
 }

 .comment {
   margin: 10px;
   padding: 10px;
   border: 1px solid black;
   border-radius: 20px;
   box-shadow: 2px 2px 2px
 }

.clicked {
  color: red;
  font-size: 28px;
}

.grow {
transition: 1s ease;
}

.grow:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 0.2s ease;
}
